@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Oswald:wght@200..700&family=Rubik+Distressed&display=swap');
@import "tailwindcss";

* { caret-color: transparent; }
input, textarea, [contenteditable="true"] { caret-color: auto; }
.f1 { font-family: "Italianno", cursive; }
.f2 { font-family: "Rubik Distressed", system-ui; }
.f3 { font-family: "Outfit", sans-serif; font-optical-sizing: auto; font-style: normal; }
.f4 { font-family: "Oswald", sans-serif; font-optical-sizing: auto; }
.scroll-y::-webkit-scrollbar { width: 8px; }
.scroll-y::-webkit-scrollbar-thumb { background: #4b5563; border-radius: 9999px; }
.scroll-y::-webkit-scrollbar-track { background: transparent; }
.text-shimmer { background: linear-gradient(90deg, #ffffff 0%, #ff9d00 50%, #ffffff 100%); background-size: 200% auto; color: #000; -webkit-background-clip: text; -webkit-text-fill-color: transparent; background-clip: text; animation: shine 3s linear infinite; }
@keyframes shine { to { background-position: 200% center; } }
